{% extends "base/base.html" %}
{% load static i18n %}


{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    
                    <h2 class="fw-bold mb-2 text-uppercase">
                        {{ title }}
                    </h2>


                    {% if validlink %}

                        <p>
                            {% translate "Please enter your new password twice so we can verify you typed it in correctly." %}
                        </p>
                        

                        {{ form.non_field_errors }}

                    
                        <form method="POST">
    
                            {% csrf_token %}

                            <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    
                            {% for form_input in form %}
                                {% if not form_input.is_hidden %}
    
                                    <div class="form-group pb-4">
                                        <h5>{{ form_input.label }}:</h5>
    
                                        {{ form_input.as_widget }}
    
                                        {{ form_input.errors }}
    
                                    </div>
    
                                {% endif %}
                            {% endfor %}
    
    
                            <button class="btn btn-outline-primary btn-lg px-5" type="submit">
                                {% trans 'Change my password'%}
                            </button>
    
                        </form>

                    {% else %}
                    
                        <p>
                            {% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
                        </p>
                    
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
