{% extends "base/base.html" %}
{% load static i18n %}


{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    
                    <h2 class="fw-bold mb-2 text-uppercase">
                        {% translate 'Password reset' %}
                    </h2>



                    <p>
                        {% translate "Your password has been set.  You may go ahead and log in now." %}
                    </p>



                    <p>
                        <a href="{{ login_url }}" class="text-black-50 fw-bold">
                            {% translate 'Log in' %}
                        </a>
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
