{% extends "base/base.html" %}
{% load static i18n %}


{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    
                    <h2 class="fw-bold mb-2 text-uppercase">
                        {{ title }}
                    </h2>


                    <p>
                        {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
                    </p>

                    <p>
                        {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
                    </p>
                    

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
