Django==3.2
boto3==1.18.7
gunicorn==20.1.0
django-storages==1.11.1
django-antispam==1.0.3
django-simple-history==3.0.0
dj-database-url==0.5.0
Pillow==8.3.1
psycopg2==2.9.3

# REST
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0

# OpenAPI schema support
PyYAML==6.0
uritemplate

# backends
openpyxl==3.0.7
fpdf==1.7.2
qrcode==7.3

# captcha
django-simple-captcha

# wagtail==2.14.1
# psycopg2-binary==2.9.1
