{% load static %}
{% load i18n %}


<div class="container">


  <a class="navbar-brand m-0 font-bold" href="#">
    <img src="{% static 'img/logo.svg' %}" alt="" width="30" height="24"
      class="d-inline-block align-text-top">
    {% trans 'Website Title' %}
  </a>


  <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </div>


  <div class="collapse navbar-collapse" id="navbarNav">
    {% include "base/navigation_items.html" %}
  </div>

</div>