{% load static %}
{% load i18n %}


<ul class="navbar-nav w-75 mx-lg-auto justify-content-evenly">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
            {% trans 'Home' %}
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
            {% trans 'Products' %}
        </a>
    </li>
    
    
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
            {% trans 'Pricing' %}
        
        </a>
    </li>
</ul>
